<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrow">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="narrow.searchTerm" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrow.FindItems();">Narrow It Down For Me!</button>
      <ol>
        <menu-item ng-repeat="item in narrow.AllMenuItems"></menu-item>
      </ol>   
      <ol ng-repeat="item in narrow.found">
        <li>item.Description</li>
      </ol>   
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items found-items="...." on-remove="...."></found-items>
  </div>
  <script type="text/javascript" src="src/angular.min.js"></script>
  <script type="text/javascript" src="src/app.js"></script>
</body>
</html>
