<!DOCTYPE html>
<html ng-app="NutritionixApp">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	</head>
	<body>
		<h1>Nutrionix API app</h1>
		<div ng-controller="NutritionixController as app">
			<input type="text" ng-model="app.SearchTerm">
			<button ng-click="app.SearchAPI();">Search</button>
			<h2>Results</h2>
			<ul ng-repeat="result in app.ReturnItems.hits">
				<li>{{result.fields.item_name}}</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</html>