<!DOCTYPE html>
<html ng-app="module2">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<title>Module 2 Assignment</title>
	</head>
	<body>
		<div ng-controller="module2controller as menu">
			<h1>Module 2 Assignment</h1>
			<ul ng-repeat="category in menu.categories">
				<li>{{category.name}}:{{category.special_instructions}}</li>
			</ul>

			<a href="#" ng-click="menu.logMenuItems('B');">B</a>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>		
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>