<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<style> body { font-size: 1.2em; }</style>
		<title>Module 1 Application</title>
	</head>
	<body ng-app="LunchCheck">
		<div ng-controller="LunchCheckController">
			Please enter a commas seperated list of items in your lunch:
			<input type="text" size="100" ng-model="lunch"/>
			<div>{{evaluation}}</div>			
			<button ng-click="evaluate();">Check If Too Much</button>
		</div>
	</body>
</html>
